{% extends "base.html" %}

{% block title %}
{{ project.title }}
{% endblock %}

{% block content %}

<section class="project-page">
    <a
        class="back-link"
        href="/"
    >
        ← Back to Portfolio
    </a>

    <h1>
        {{ project.title }}
    </h1>

    <p class="project-description">
        {{ project.description }}
    </p>

    <div class="project-tags">
        {% for tech in project.tech_stack %}
            <span>{{ tech }}</span>
        {% endfor %}
    </div>

    <div class="project-details">
        {{ project.details }}
    </div>

    <a
        class="btn primary"
        href="{{ project.github }}"
        target="_blank"
    >
        View GitHub
    </a>
</section>
{% endblock %}
